* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
@font-face {
  font-family: "pixel";
  src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  background-color: rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.click-amount {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'pixel';
    margin-top: 20px;
    margin-bottom: 200px;
}
.button {
  width: 280px;
  height: 128px;
  border-radius: 30px;
  background-color: tomato;
  box-shadow: black 2px 4px 2px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.button.pressed{
    box-shadow: none;
    margin: 2px 0 0 2px;
}
.button span {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    color: white;
    font-family: 'pixel';
    -webkit-user-select: none;
}
.btn-shadow {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 75%;
    height: 60px;
    background-color: rgb(254 130 109);
    border-radius: 30px;
}
.shop {
    margin-top: 350px;
    width: 25%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.shop img {
  width: 200px;
  -webkit-user-select: none;
}
.reset {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    color: wheat;
    font-family: 'pixel';
    font-size: 10px;
    width: 100px;
    height: 20px;
}
.coin {
  margin: 0 10px;
  width: 100px;
  height: 100px;
}
.progress {
  position: absolute;
  font-size: 50px;
  color: white;
  font-family: 'pixel';
  top: 30px;
  opacity: 0;
  -webkit-user-select: none;
}
@keyframes jump {
  0%{
    top: 0px;
    opacity: 0;
  }
  50%{
    top: -170px;
    opacity: 1;
  }
  90%{
    color:yellow;
  }
  100%{
    top: -150px;
    opacity: 0;
    color: tomato;
  }
}
@keyframes jump-left {
  0%{
    top: 0px;
    opacity: 0;
    left: 0;
  }
  50%{
    top: -170px;
    left: -40px;
    opacity: 1;
  }
  90%{
    color:yellow;
  }
  100%{
    top: -150px;
    left: -45px;
    opacity: 0;
    color: tomato;
  }
}
@keyframes jump-right {
  0%{
    top: 0px;
    opacity: 0;
    right: 0;
  }
  50%{
    top: -170px;
    right: -40px;
    opacity: 1;
  }
  90%{
    color:yellow;
  }
  100%{
    top: -150px;
    right: -45px;
    opacity: 0;
    color: tomato;
  }
}

@media (max-width: 1400px) {
  .click-amount{
    margin-top: 60px;
  }
  .shop {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
@media (max-width: 480px) {}
@media (max-width: 320px) {}